body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url("header.jpg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
h1 {
  margin-bottom: 3.6em;
}
.btn {
  border-radius: 15px;
}
hr {
  border-top: 3px solid red;
}
